:root {
  --eggplant: #5d4e60ff;
  --mountbatten-pink: #826c7fff;
  --rose-quartz: #a88facff;
  --pink-lavender: #d4b2d8ff;
  --thistle: #efcefaff;
  --white: #FEFAF6;
  --primaryfont-family: 'General Sans', sans-serif;
  --secondaryfont-family: 'Trench Slab', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  font-family: var(--secondaryfont-family);
  font-size: 1.1rem;
}

  p#register-text {
      font-family: var(--primaryfont-family);
  }

h1, h2, h3, h4, h5, h6 {
  font-family: var(--primaryfont-family);
  margin: 0;
  font-weight: 700;
  letter-spacing: -1;
}

label {
  font-family: var(--secondaryfont-family);
  font-size: 12px;
  color: var(--mountbatten-pink);
}

h1.website-title {
  margin: 20px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: transparent;
  white-space: nowrap;
  position: relative;
}

  .logos:before,
  .logos:after {
      position: absolute;
      top: 0;
      width: 250px;
      height: 100%;
      content: "";
      z-index: 2;
  }

  .logos:before {
      left: 0;
      background: linear-gradient(to left, rgba(255, 255, 255, 0),var(--white));
  }

  .logos:after {
      right: 0;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--white));
  }

  .logos:hover .logos-slide {
      animation-play-state: paused;
  }

.logos-slide {
  display: inline-block;
  animation: 10s slide infinite linear;
}

  .logos-slide img {
      height: 50px;
      margin: 0 40px;
  }

h2#header-welcome {
  font-family: var(--secondaryfont-family);
  font-weight: 400;
  text-align: center;
}

div.section-1 {
  margin-top: 20vh;
  text-align: center;
  font-size: 1.5rem;
}

.section-1 button {
background-color: #5d4e60ff;
font-family: var(--secondaryfont-family);
font-size:  1rem;
color: var(--white);
height: auto;
width: auto;
padding: 16px 25px 16px 25px;
margin-top: 4vh;
}



div.wrapper {
  max-width: fit-content;
  margin-top: 15vh;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 2px solid var(--mountbatten-pink);
  padding: 40px;
  height: auto;
  width: 35vw;
}

.wrapper h1 {
  text-align: center;
  margin-bottom: 5vw;
  color: var(--mountbatten-pink);
  font-size: 2.7rem;
}

div.input-box {
  width: 100%;
  margin-bottom: 10px;
}

.input-box input {
  font-family: var(--secondaryfont-family);
  width: 100%;
  padding: 13px;
  border-radius: 20px;
}

div.forget-password {
  font-family: var(--secondaryfont-family);
  font-size: 0.8rem;
  color: var(--mountbatten-pink);
}

.login-register-container {
  display: flex;
  margin-top: 4vh;
  align-items: baseline;
}

p#register-text {
  font-family: var(--secondaryfont-family);
  font-size: 0.8rem;
  margin-left: 50px;
  color: var(--eggplant);
}

.btn {
  background-color: var(--mountbatten-pink);
  padding: 10px;
  border-radius: 20px;
  font-family: var(--secondaryfont-family);
  color: var(--white);
  width: 10vw;
  cursor: pointer;
}

div.regwrapper {
  max-width: 100%;
  margin-top: 10vh;
  margin-left: 10vw;
  margin-right: auto;
  margin-bottom: 6vh;
  background-color: white;
  border: 2px solid var(--mountbatten-pink);
  padding: 20px;
  height: auto;
  width: 35vw;
}

.regwrapper h1 {
  text-align: center;
  margin-bottom: 3vw;
  color: var(--mountbatten-pink);
  font-size: 2.7rem;
}

.wrapcontainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

  .wrapcontainer .input-box {
      flex: 1;
  }

.eye {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  opacity: 0.4;
}

div.background-images {
  position: absolute;
  margin-left: 55vw;
  margin-top: 30vh;
}

.background-images img {
  height: 350px;
}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: 999;
  background-color: #fff8dc;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

  .sidebar a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 15px;
      color: #818181;
      display: block;
      transition: 0.3s;
  }

      .sidebar a:hover {
          color: var(--mountbatten-pink);
      }

  .sidebar .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
  }

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

  .active, .collapsible:hover {
      background-color: #555;
  }

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.open-button {
background-color: #555;
color: white;
border: none;
cursor: pointer;
opacity: 0.8;

}
.pop{
display: none;
padding:20px;
top:30%;
left:50%;
position: fixed;
transform: translate(-50%, -50%);
border: 3px solid #f1f1f1;
z-index: 9;
background-color: white;
}

.admin .btn {
background-color: #04AA6D;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
width: 100%;
margin-bottom:10px;
opacity: 0.8;
}


.admin .cancel {
background-color: red;
}


.admin .btn:hover, .open-button:hover {
opacity: 1;
}